// http://clrs.cc/
@import url(//fonts.googleapis.com/css?family=Cinzel+Decorative);
@import url(http://fonts.googleapis.com/css?family=Lato:300);

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

body{
  // background-color: @YELLOW;
  /* fallback */
  background-color: #E2E2E2;
  // background-image: url('/assets/1884200.jpg');
  // background-size: 100% 100%;
  // background-position: center center;
  // background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(white), to(#9F9F9F));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, white, #9F9F9F);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, white, #9F9F9F);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #F2F2F2, #9F9F9F);
}

input.ng-invalid, select.ng-invalid{
  background-color: @RED;
}

h4{
  margin-top: 1200px;
}

h2{
  text-align: center;
}

#bottom_fade {
  // width: 600px;
  width: 100%;
  background-size: cover;
  height: 200px;
  z-index: 99;
  position: fixed;
  bottom: 0px;
  background: url("assets/bottom-fade.png") bottom center no-repeat;
}

h3{
  // text-align: center;
  margin-left: 5%;
  margin-top: -2%;
  position: absolute;
}


.welcome{
  margin-left: 19%;
  margin-top: 10%;
  // font-size: 90px;
  font-size: 500%;
}

.SecondContain{
  // background-color: RGBA(49, 41, 41, 0.5);
  // background-color: RGBA(226, 226, 226, 0.5);
}

.containerMainPic{
  margin-top: -20px;
  // margin-left: -100px;
  height: 620px;
  width: 100%;
  // padding: 20px;
  // background-color: yellow;
  border: 2px solid black;
  background-image: url('/assets/neb4.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  // background-position: 50% 0;
  position: relative;
}

.headerMainPicCon{
  padding-top: 40px;
  margin-top: 96px;
  height: 100px;
  width: 100%;
  background-color: RGBA(74, 109, 225, 0.5);
}

.mainContain{
  background-color: black;
}

.imgModal{
  // margin-left: 1%;
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/celestial_lion12x18.png');
  background-size: 100% 100%;
}
.imgModal2{
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/Cosmic_mare12x18.png');
  background-size: 100% 100%;
}
.imgModal3{
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/just_a_passenger12x18.png');
  background-size: 100% 100%;
}
.imgModal4{
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/windowofthought.png');
  background-size: 100% 100%;
}
.imgModal5{
  // margin-left: 30%;
  // margin-left: 275px;
  height: 500px;
  border: 2px solid black;
  background-image: url('/assets/dwarfs_and_giants.png');
  background-size: 100% 100%;
}

// @media screen and (max-width: 875px){
//   .imgmodal5{
//
//   }
// }


.lionH{
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

.bobo{
  margin-left: 400px;
}

@media screen and (max-width: 1050px){
  .bobo{
    margin-left: 350px;
  }
}
@media screen and (max-width: 1000px){
  .bobo{
    margin-left: 350px;
  }
}
@media screen and (max-width: 950px){
  .bobo{
    margin-left: 300px;
  }
}
@media screen and (max-width: 850px){
  .bobo{
    margin-left: 250px;
  }
}
@media screen and (max-width: 799px){
  .bobo{
    margin-left: 85px;
  }
}
@media screen and (max-width: 850px){
  .bobo{
    margin-left: 75px;
  }
}
@media screen and (max-width: 501px){
  .bobo{
    margin-left: 0px;
  }
}
//*****HOVER EFFECTS****//
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  // blue
  // background: #2098d1;
  // red
  background: #FF525B;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

// About Page

.aboutUsContent{
  background-color: RGBA(49, 41, 41, 0.5);
  border: 1px solid black;
  padding: 10px;
  margin-left: 75px;
  margin-right: 75px;
  border-radius: 5px;
}

.p1{
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}
@media screen and (max-width: 501px){
  .p1{
    font-size: 8px;
  }
}




#banner {
  margin-left: 19%;
  // width: 800px;
  // height: 300px;
  position: relative;
  // border: 8px solid #eee;
  // -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
}

.div2{
  width: 100%;
}

#banner div {
  position: absolute;
}

#banner div:nth-child(2) {
  -webkit-animation: wipe 6s infinite;
  -webkit-animation-delay: 3s;
  -webkit-animation-direction: alternate;
  -webkit-mask-size: 2000px 2000px;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom,
      color-stop(0.00,  rgba(0,0,0,1)),
      color-stop(0.45,  rgba(0,0,0,1)),
      color-stop(0.50,  rgba(0,0,0,0)),
      color-stop(0.55,  rgba(0,0,0,0)),
      color-stop(1.00,  rgba(0,0,0,0)));
}

@-webkit-keyframes wipe {
  0% {
    -webkit-mask-position: 0 0;
  }
  100% {
    -webkit-mask-position: -1200px -1200px;
  }
}

#rollover {
  width: 250px;
  height: 250px;
  position: relative;
  border: 8px solid #eee;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.75);
}

#rollover div {
  position: absolute;
  top: 0;
  left: 0;
}

#rollover div:nth-child(2) {
  -webkit-transition: -webkit-mask-position 1s ease;
  -webkit-mask-size: 600px 600px;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top,
      color-stop(0.00,  rgba(0,0,0,1)),
      color-stop(0.35,  rgba(0,0,0,1)),
      color-stop(0.50,  rgba(0,0,0,0)),
      color-stop(0.75,  rgba(0,0,0,0)),
      color-stop(1.00,  rgba(0,0,0,0)));
}

#rollover div:nth-child(2):hover {
  -webkit-mask-position: -300px -300px;
}
