// http://clrs.cc/
@import url(//fonts.googleapis.com/css?family=Cinzel+Decorative);

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

body{
  // background-color: @YELLOW;
  /* fallback */
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F2F2F2), to(#9F9F9F));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #F2F2F2, #9F9F9F);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #F2F2F2, #9F9F9F);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #F2F2F2, #9F9F9F);
}

input.ng-invalid, select.ng-invalid{
  background-color: @RED;
}

h4{

margin-top: 1200px;
}

#bottom_fade {
  // width: 600px;
  width: 100%;
  background-size: cover;
  height: 200px;
  z-index: 99;
  position: fixed;
  bottom: 0px;
  background: url("assets/bottom-fade.png") bottom center no-repeat;
}

h3{
  // text-align: center;
  margin-left: 5%;
  margin-top: -2%;
  position: absolute;
}


.welcome{
  margin-left: 19%;
  margin-top: 10%;
  // font-size: 90px;
  font-size: 500%;
}


.containerMainPic{
  margin-top: -20px;
  // margin-left: -100px;
  height: 600px;
  width: 100%;
  // padding: 20px;
  // background-color: yellow;
  border: 2px solid black;
  background-image: url('/assets/neb4.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  // background-position: 50% 0;
  position: relative;
}
.headerMainPicCon{
  padding-top: 40px;
  margin-top: 96px;
  height: 100px;
  width: 100%;
  background-color: RGBA(74, 109, 225, 0.5);
}

.mainContain{
  background-color: black;
}

.imgModal{
  // margin-left: 1%;
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/celestial_lion12x18.png');
  background-size: cover;
}

.lionH{
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}
