// http://clrs.cc/
@import url(//fonts.googleapis.com/css?family=Cinzel+Decorative);

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

body{
  // background-color: @YELLOW;
  /* fallback */
  background-color: #E2E2E2;
  // background-image: url('/assets/1884200.jpg');
  // background-size: 100% 100%;
  // background-position: center center;
  // background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(white), to(#9F9F9F));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, white, #9F9F9F);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, white, #9F9F9F);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #F2F2F2, #9F9F9F);
}

input.ng-invalid, select.ng-invalid{
  background-color: @RED;
}

h4{
  margin-top: 1200px;
}

h2{
  text-align: center;
}

#bottom_fade {
  // width: 600px;
  width: 100%;
  background-size: cover;
  height: 200px;
  z-index: 99;
  position: fixed;
  bottom: 0px;
  background: url("assets/bottom-fade.png") bottom center no-repeat;
}

h3{
  // text-align: center;
  margin-left: 5%;
  margin-top: -2%;
  position: absolute;
}


.welcome{
  margin-left: 19%;
  margin-top: 10%;
  // font-size: 90px;
  font-size: 500%;
}

.SecondContain{
  // background-color: RGBA(49, 41, 41, 0.5);
  // background-color: RGBA(226, 226, 226, 0.5);
}

.containerMainPic{
  margin-top: -20px;
  // margin-left: -100px;
  height: 620px;
  width: 100%;
  // padding: 20px;
  // background-color: yellow;
  border: 2px solid black;
  background-image: url('/assets/neb4.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  // background-position: 50% 0;
  position: relative;
}

.headerMainPicCon{
  padding-top: 40px;
  margin-top: 96px;
  height: 100px;
  width: 100%;
  background-color: RGBA(74, 109, 225, 0.5);
}

.mainContain{
  background-color: black;
}

.imgModal{
  // margin-left: 1%;
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/celestial_lion12x18.png');
  background-size: 100% 100%;
}
.imgModal2{
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/Cosmic_mare12x18.png');
  background-size: 100% 100%;
}
.imgModal3{
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/just_a_passenger12x18.png');
  background-size: 100% 100%;
}
.imgModal4{
  height: 600px;
  width: 100%;
  border: 2px solid black;
  background-image: url('/assets/windowofthought.png');
  background-size: 100% 100%;
}
.imgModal5{
  // margin-left: 30%;
  // margin-left: 275px;
  height: 500px;
  border: 2px solid black;
  background-image: url('/assets/dwarfs_and_giants.png');
  background-size: 100% 100%;
}

// @media screen and (max-width: 875px){
//   .imgmodal5{
//
//   }
// }


.lionH{
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

.bobo{
  margin-left: 400px;
}

@media screen and (max-width: 1050px){
  .bobo{
    margin-left: 350px;
  }
}
@media screen and (max-width: 1000px){
  .bobo{
    margin-left: 350px;
  }
}
@media screen and (max-width: 950px){
  .bobo{
    margin-left: 300px;
  }
}
@media screen and (max-width: 850px){
  .bobo{
    margin-left: 250px;
  }
}
@media screen and (max-width: 799px){
  .bobo{
    margin-left: 85px;
  }
}
@media screen and (max-width: 850px){
  .bobo{
    margin-left: 75px;
  }
}
@media screen and (max-width: 501px){
  .bobo{
    margin-left: 0px;
  }
}
