//- .panel
.mainContain
  .containerMainPic(data-stellar-background-ratio='0.5')
    //- .headerMainPicCon.animated.fadeInDown(style='-webkit-animation-delay: 1s;')
    h3.welcome.animated.fadeInLeft Welcome
  //- ul(ng-show='mean')
    li(ng-repeat='technology in mean') {{technology}}
h2 Master/Pieces
.grid
  figure.effect-jazz
    img(src='assets/celestial_lion12x18.png', alt='img25')
    figcaption
      h2 The Celestial 
        span lion
      p 'As the coalition of matter ensues, the lion imbues a lucky few with life.' a pointillism drawing melded with a liquid acrylic backdrop.
      a(href='/#/', data-toggle="modal" data-target=".lion") View more
  figure.effect-jazz
    img(src='assets/Cosmic_mare12x18.png', alt='img25')
    figcaption
      h2 The Cosmic 
        span Mare
      p 'The waxes and wanes of universal change are met with the face of the mare.' a pointillism drawing melded with a liquid acrylic backdrop.
      a(href='/#/' data-toggle="modal" data-target=".horse") View more
//- modals for lion and Horse
.modal.fade.lion(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      h2.lionH The Celestial Lion
      .imgModal
.modal.fade.horse(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      h2.lionH The Cosmic Mare
      .imgModal2
.grid
  figure.effect-apollo
    img(src='assets/just_a_passenger12x18.png', alt='img18')
    figcaption
      h2 Just A 
        span Passenger
      p 'Humanity now transcends Earth, having the light of the unfiltered night reflect upon our primitive eyes.' a liquid acrylic painting with an astronaut drawing graphed onto it. The drawing was provided by my brother.
      a(href='/#/' data-toggle="modal" data-target=".passenger") View more
  figure.effect-apollo
    img(src='assets/windowofthought.png', alt='img18')
    figcaption
      h2 Window of 
        span Thought
      p 'Imagination is but a soup of thoughts and desires, mixed with aspirations and goals, but when portrayed with color it can break all the molds. A liquid acrylic painting.
      a(href='/#/') View more
.modal.fade.passenger(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      h2.lionH Just A Passenger
      .imgModal3
.grid
  figure.effect-jazz
    img(src='assets/dwarfs-and-giants.png', alt='img25')
    figcaption
      h2 Dwarf And 
        span Giants
      p 'The compass of curiosity has led a race of simpletons into the wonders of the cosmos.' pen drawing with a liquid acrylic space-scape edited into it.
      a(href='/#/') View more
  figure.effect-jazz
    img(src='assets/moonage_daydream12x18.png', alt='img25')
    figcaption
      h2 Moonage 
        span Daydream
      p 'After a trip to the moon our whole planet changed; the influence of humanity forever pushing the boundaries.' a liquid acrylic painting.
      a(href='/#/') View more
.grid
  figure.effect-apollo
    img(src='assets/cosmikowl.png', alt='img18')
    figcaption
      h2 Cosmic 
        span Owl
      p ...
      a(href='/#/') View more
      h2 Ming
//- .grid
//-   figure.effect-ming
//-     img(src='assets/dwarfs-and-giants.png', alt='img09')
//-     figcaption
//-       h2 Dwarf And  
//-         span Giants
//-       p 'The compass of curiosity has led a race of simpletons into the wonders of the cosmos.' pen drawing with a liquid acrylic space-scape edited into it.
//-       a(href='#') View more
//-   figure.effect-ming
//-     img(src='assets/moonage_daydream12x18.png', alt='img09')
//-     figcaption
//-       h2 Moonage  
//-         span Daydream
//-       p 'After a trip to the moon our whole planet changed; the influence of humanity forever pushing the boundaries.' a liquid acrylic painting.
//-       a(href='#') View more
h4 welcome
