//- .panel
.mainContain
  .containerMainPic(data-stellar-background-ratio='0.5')
    //- .headerMainPicCon.animated.fadeInDown(style='-webkit-animation-delay: 1s;')
    h3.welcome.animated.fadeInLeft Welcome
  //- ul(ng-show='mean')
    li(ng-repeat='technology in mean') {{technology}}
h2 Master/Pieces
.grid
  figure.effect-apollo
    img(src='assets/celestial_lion12x18.png', alt='img18')
    figcaption
      h2 The Celestial 
        span lion
      p 'As the coalition of matter ensues, the lion imbues a lucky few with life.' a pointillism drawing melded with a liquid acrylic backdrop.
      a(href='#') View more

  figure.effect-apollo
    img(src='assets/Cosmic_mare12x18.png', alt='img18')
    figcaption
      h2 The Cosmic 
        span Mare
      p 'The waxes and wanes of universal change are met with the face of the mare.' a pointillism drawing melded with a liquid acrylic backdrop.
      a(href='#') View more
//- figure.effect-apollo
//-   img(src='img/22.jpg', alt='img22')
//-   figcaption
//-     h2 Strong 
//-       span Apollo
//-     p Apollo's last game of pool was so strange.
//-     a(href='#') View more
