//- .panel
.mainContain
  .containerMainPic(data-stellar-background-ratio='0.5')
    //- .headerMainPicCon.animated.fadeInDown(style='-webkit-animation-delay: 1s;')
    h3.welcome.animated.fadeInLeft Welcome
  //- ul(ng-show='mean')
    li(ng-repeat='technology in mean') {{technology}}
h2 Master/Pieces
.grid
  figure.effect-apollo
    img(src='assets/celestial_lion12x18.png', alt='img18')
    figcaption
      h2 The Celestial 
        span lion
      p 'As the coalition of matter ensues, the lion imbues a lucky few with life.' a pointillism drawing melded with a liquid acrylic backdrop.
      a(href='/#/') View more

  figure.effect-apollo
    img(src='assets/Cosmic_mare12x18.png', alt='img18')
    figcaption
      h2 The Cosmic 
        span Mare
      p 'The waxes and wanes of universal change are met with the face of the mare.' a pointillism drawing melded with a liquid acrylic backdrop.
      a(href='/#/') View more    
.grid
  figure.effect-apollo
    img(src='assets/just_a_passenger12x18.png', alt='img18')
    figcaption
      h2 Just A 
        span Passenger
      p 'Humanity now transcends Earth, having the light of the unfiltered night reflect upon our primitive eyes.' a liquid acrylic painting with an astronaut drawing graphed onto it. The drawing was provided by my brother.
      a(href='/#/') View more
  figure.effect-apollo
    img(src='assets/dwarfs-and-giants.png', alt='img18')
    figcaption
      h2 Just A 
        span Passenger
      p 'Humanity now transcends Earth, having the light of the unfiltered night reflect upon our primitive eyes.' a liquid acrylic painting with an astronaut drawing graphed onto it. The drawing was provided by my brother.
      a(href='/#/') View more
